.admin-nav-link {
    padding-top: 60px;
}
.admin-nav-link li{
    padding-top: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.statistics {
    height: 100vh;
    overflow: auto;
}
.writing {
    height: 100vh;
    overflow: auto;
}
.edit {
    height: 100vh;
    overflow: auto;
}
